body {
  font-family: Pretendard, sans-serif, Arial;
  font-size: 1.2rem;
  margin: 0;
  word-break: keep-all;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
}

main {
  width: 70%;
  margin: 5rem auto;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
  margin: 5rem 0 4rem;
}
h3,
h4 {
  font-size: 2rem;
  margin: 1rem 0;
}
h5 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 960px) {
  body {
    font-size: 1rem;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    /* margin: 3rem 0 1rem; */
  }
  h3 {
    font-size: 1.5rem;
  }

  h4,
  h5 {
    font-size: 1.2rem;
  }
}

p {
  line-height: 170%;
}

li {
  line-height: 170%;
}

span,
time {
  font-size: 1rem;
}
details {
  all: unset;
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  margin: 0.5rem 0;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0rem 0 1rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.405);
}

.progress-container {
  width: 100%;
  height: 0.5rem;
  background: #c9c9c9;
}
.progress-bar {
  width: 0%;
  height: 0.5rem;
  background: linear-gradient(70deg, #253c30, #52aa7e);
}
.gradiant {
  background: linear-gradient(100deg, #000000, #30ff9b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.row-container {
  display: flex;
  border-bottom: 1px solid #eee;
}
.row-left {
  min-width: 15rem;
}
@media screen and (max-width: 960px) {
  .row-container {
    flex-direction: column;
  }
  .row-left {
    padding-bottom: 2rem;
  }
}
.project {
  padding-bottom: 3rem;
}
.normal-container {
  border-bottom: 1px solid #eee;
  padding-bottom: 3rem;
}

.edu-paragraph {
  margin-bottom: 3rem;
}

.contact-container {
  display: flex;
  margin: auto;
}
.image-box {
  width: 15rem;
  height: 15rem;
  border-radius: 70%;
  overflow: hidden;
}

.profile-image {
  position: relative;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contact-box {
  margin: 2rem;
}

@media screen and (max-width: 960px) {
  .contact-container {
    flex-direction: column;
  }
  .contact-box {
    margin: 2rem 0;
    padding: 1rem;
  }
}
.comment {
  border: 1px solid #eee;
  padding: 1rem;
}
#top-button,
#contact-button {
  all: unset;
  cursor: pointer;
  padding: 0 2rem;
}

#top-button:hover,
#contact-button:hover {
  color: #448764;
}
#contact-title {
  margin-bottom: 2rem;
}
